/* 导航栏样式 */
nav {
  display: flex;
  justify-content: space-between; /* 左右两部分 */
  align-items: center;
  background-color: #333;
  padding: 10px;
  color: white;
}

.nav-left {
  display: flex;
}

.nav-left a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

.nav-left a:hover {
  background-color: gray;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right .user-info {
  margin-right: 15px;
  font-size: 18px;
  color: white;
}

.nav-right .logout-button {
  padding: 5px 10px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.nav-right .logout-button:hover {
  background-color: darkred;
}

nav a.active {
  background-color: gray;
  color: #333;
}
